body{
    padding: 0;
    margin: 0;
    border: 0;
    background-color: #214B51;
}

/* nav-bar */
    .Navbar-Container{
        height: 145px;
        background-color: #0E3B43;
        display: block;
    }

    .navbar-1{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }



    .navbar-2{
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;
    }

    .menu-usuario{
        background-color: transparent;
        height: fit-content;
        border: none;
        width: auto;
        height: 50px;
    }

    .menu-janela{
        background-color: transparent;
        height: fit-content;
        border: none;
        width: auto;
        height: 50px;
    }

    .menu-usuario img{
        width: auto;
        height: 50px;
    }

    .menu-janela img{
        margin-top: 25px;
        width: auto;
        height: 50px;
    }

    .navbar-menu{
        margin-left: 15px;
        height: fit-content;
        width: 20%;
        display: flex;
        justify-content: space-evenly;
    }

    .navbar-pesquisa{
        display: flex;
        align-items: center;
    }

    .lupa-pesquisa{
        width: 30px;
        
    }

    .navbar-pesquisa input{
        width: 200px;
        height: 35px;
        border-radius: 10px;
        border: none;
        background-color: #214B51;
        outline: 0;
    }

    .navbar-pesquisa input::placeholder{
        color: #eaf4f4c5;
    }

    .logo{
        width: auto;
        height: 70px;
        margin-top: 16px;
        margin-left: 30px;
    }


    .button-inicio{
        background-color: transparent;
        font-family: "Josefin Sans", sans-serif;
        font-size: 25px;
        font-weight: bold;
        color: #EAF4F4;
        border: 0px;
    }

    a{
        font-family: "Josefin Sans", sans-serif;
        font-size: 25px;
        font-weight: bold;
        color: #EAF4F4;
        border: 0px;
        text-decoration: none;
    }

    .inicio:hover{
        cursor: pointer;
        color: #597B78;
    }
/* nav-bar */