body{

    background: linear-gradient(90deg, rgba(33,75,81,1) 0%, rgba(33,75,81,1) 100%);;
    margin: 0;
    
}


h1{

    color: #EAF4F4;
    font-family: "Josefin Sans", sans-serif;
    font-size: 70px;
    width: fit-content;
    margin: 4% 4%;
    /* gap: 5px 3px; (Espassamento entre os elementos na linhavertical e/ou horizontal) */ 
}

hr{
    margin-top: -60px;
    margin-bottom: 45px;
    margin-left: 4%;
    width: 38%;
    height: 60%;
}

.img-section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: -50px;
}

.img-section p{
    color: #EAF4F4;
    margin-left: 2%;
    width: 50%;
    font-size: 26px;
    align-items: center;
}

img{
    width: 38%;
    margin-right:75px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 30px;
    
}


p{
    font-size: 70px;
    font-family: "Roboto", sans-serif;
    color: #EAF4F4;


}